{% load static %}

{% include "components/header.html" %}

<h1 class="title">
    Categories
</h1>

<div class="columns">
    <div class="column is-one-quarter">
        <aside class="menu">
            <p class="menu-label">
                Swimming
            </p>
            <ul class="menu-list">
                <li><a href="/category/202058451/">Bikinis Set</a></li>
                <li><a href="/category/202006173/">Two-Piece Suits</a></li>
                <li><a href="/category/202006171/">One-Piece Suits</a></li>
                <li><a href="/category/202059121/">Cover-Ups</a></li>
                <li><a href="/category/202059127/">Two-Piece Separates</a></li>
                <li><a href="/category/202006167/">Body Suits</a></li>
            </ul>
            <p class="menu-label">
                Bottoms
            </p>
            <ul class="menu-list">
                <li><a href="/category/202002388/">Skirts</a></li>
                <li><a href="/category/202003586/">Leggings</a></li>
                <li><a href="/category/202001908/">Jeans</a></li>
                <li><a href="/category/202001905/">Pants & Capris</a></li>
                <li><a href="/category/202001909/">Shorts</a></li>
            </ul>
            <p class="menu-label">
                Outwear & Jackets
            </p>
            <ul class="menu-list">
                <li><a href="/category/202003530/">Basic Jackets</a></li>
                <li><a href="/category/202061136/">Real Fur</a></li>
                <li><a href="/category/202005128/">Leather & Suede</a></li>
                <li><a href="/category/202003507/">Blazers</a></li>
                <li><a href="/category/202005129/">Trench</a></li>
                <li><a href="/category/202005130/">Wool & Blends</a></li>
            </ul>

            <p class="menu-label">
                Tops & Sets
            </p>
            <ul class="menu-list">
                <li><a href="/category/202003912/">Blouses & Shirts</a></li>
                <li><a href="/category/202003448/">Suits & Sets</a></li>
                <li><a href="/category/202003589/">Jumpsuits</a></li>
                <li><a href="/category/202059291/">Rompers</a></li>
                <li><a href="/category/202003442/">Intimates</a></li>
                <li><a href="/category/202003445/">Sleep & Lounge</a></li>
            </ul>

            <p class="menu-label">
                Weddings & Events
            </p>
            <ul class="menu-list">
                <li><a href="/category/202001935/">Wedding Dresses</a></li>
                <li><a href="/category/202002387/">Evening Dresses</a></li>
                <li><a href="/category/202002386/">Prom Dresses</a></li>
                <li><a href="/category/202001936/">Bridesmaid Dresses</a></li>
                <li><a href="/category/202001937/">Flower Girl Dresses</a></li>
                <li><a href="/category/202002385/">Cocktail Dresses</a></li>
            </ul>
        </aside>
    </div>
    <div class="column">
        {% include "components/photos_grid.html" with columns=4 %}
        {% include "components/pagination.html" %}
    </div>
</div>

{% include "components/footer.html" %}